<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="end">
      <app-boton-perfil />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Pendiente (semana 3): mapa con tu ubicación, todos los lugares por tipo y los cercanos a ti. RF-05, RF-06, RF-11.</p>
</ion-content>
