<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Promociones</ion-title>
    <ion-buttons slot="end">
      <app-boton-perfil />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Promociones</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Pendiente (semana 5): disponibles, desbloqueadas y utilizadas, con tu progreso. RF-08, RF-10.</p>
</ion-content>
