<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Conciertos</ion-title>
    <ion-buttons slot="end">
      <app-boton-perfil />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conciertos</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Pendiente (semana 2): eventos por foro (Foro del Lago, Foro de las Estrellas, Palenque, otros) con filtros por fecha, artista y foro. RF-04.</p>
</ion-content>
