<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cultura" href="/tabs/cultura">
      <ion-icon aria-hidden="true" name="color-palette"></ion-icon>
      <ion-label>Cultura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastronomia" href="/tabs/gastronomia">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Comida</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conciertos" href="/tabs/conciertos">
      <ion-icon aria-hidden="true" name="musical-notes"></ion-icon>
      <ion-label>Conciertos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promociones" href="/tabs/promociones">
      <ion-icon aria-hidden="true" name="gift"></ion-icon>
      <ion-label>Promos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
